body {
  background: linear-gradient(-45deg, #1d2671, #c33764, #f5af19, #ff5e62);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
  0% {background-position: 0% 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0% 50%;}
}
.profile-pic {.profile-pic {
  box-shadow: 0 0 20px #c33764;
}
              
  transition: transform 0.3s ease;
}
.profile-pic:hover {
  transform: scale(1.1);
}
.btn {
  position: relative;
  overflow: hidden;
}
.btn::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  background: rgba(255,255,255,0.2);
  transition: 0.5s;
}
.btn:hover::after {
  height: 100%;
}
h1 {
  font-size: 50px; /* bada */
}

p.bio {
  font-size: 16px; /* normal */
}

.btn {
  font-size: 14px; /* button text chhota */
}

.animated-text {
  background: linear-gradient(90deg, #ff5e62, #f5af19, #1d2671);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textMove 3s linear infinite;
}

@keyframes textMove {
  0% {background-position: 0%;}
  100% {background-position: 200%;}
}
  .box {
    display: flex;
    gap: 10px;
    background: rgba(0,0,0,0.25);
    padding: 12px;
    border-radius: 30px;
    max-width: 450px;
    margin: auto;
  }

  .box input {
    flex: 1;
    border: none;
    outline: none;
    padding: 12px 15px;
    border-radius: 25px;
    font-size: 14px;
  }
  .box a {
    text-decoration: none;
    background: linear-gradient(45deg, #ff4081, #ff9100);
    padding: 12px 18px;
    border-radius: 25px;
    color: white;
    font-weight: bold;
    white-space: nowrap;
  }
.search{
  position: fixed;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  
  display: flex;
  gap: 8px;

  background: #f2f2f2;
  padding: 10px 14px;
  border-radius: 30px;

  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  z-index: 999;
}

.search input{
  border: none;
  outline: none;
  padding: 8px 12px;
  border-radius: 20px;
}

.search button{
  border: none;
  background: #ff5c5c;
  color: white;
  padding: 8px 14px;
  border-radius: 20px;
  cursor: pointer;
    }

